In [1]:
import pandas as pd
import math
from statistics import mode 
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
import math
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Cars.csv')
df

    Color    Type    Origin Stolen
0     Red  Sports  Domestic    Yes
1     Red  Sports  Domestic     No
2     Red  Sports  Domestic    Yes
3  Yellow  Sports  Domestic    Yes
4  Yellow  Sports  Imported    Yes
5  Yellow     Suv  Imported     No
6  Yellow     Suv  Imported    Yes
7  Yellow     Suv  Domestic     No
8     Red     Suv  Imported     No
9     Red  Sports  Imported    Yes

In [3]:
col=list(df.columns)
print("Enter the output column")
inp=input()
col.remove(inp)

Enter the output column
Stolen

In [4]:
def func(arr):
    a=np.zeros(df.shape[0])
    a[arr]=np.ones(len(arr))
    return list(a.astype(int))

In [7]:
newCol=[[x+'_'+i for i in df[x].value_counts().keys().tolist()]for x in col]
newCol

[['Color_Red', 'Color_Yellow'],
 ['Type_Sports', 'Type_Suv'],
 ['Origin_Domestic', 'Origin_Imported']]

In [8]:
values=[func(np.where(j.split('_')[1]==df[j.split('_')[0]])) for i in newCol for j in i]
newCol=[j for i in newCol for j in i]

In [9]:
df1 = pd.DataFrame(np.transpose(values),columns=newCol)

In [10]:
df1

,Color_Red,Color_Yellow,Type_Sports,Type_Suv,Origin_Domestic,Origin_Imported
0,1,0,1,0,1,0
1,1,0,1,0,1,0
2,1,0,1,0,1,0
3,0,1,1,0,1,0
4,0,1,1,0,0,1
5,0,1,0,1,0,1
6,0,1,0,1,0,1
7,0,1,0,1,1,0
8,1,0,0,1,0,1
9,1,0,1,0,0,1

In [11]:
df = df.merge(df1,left_index=True, right_index=True)
df.drop(col, axis=1, inplace=True)
newCol.append(inp)
df=df[newCol]

In [136]:
df

,Color_Red,Color_Yellow,Type_Sports,Type_Suv,Origin_Domestic,Origin_Imported,Stolen
0,1,0,1,0,1,0,Yes
1,1,0,1,0,1,0,No
2,1,0,1,0,1,0,Yes
3,0,1,1,0,1,0,Yes
4,0,1,1,0,0,1,Yes
5,0,1,0,1,0,1,No
6,0,1,0,1,0,1,Yes
7,0,1,0,1,1,0,No
8,1,0,0,1,0,1,No
9,1,0,1,0,0,1,Yes